#header-img {
    height: 100px;
    width: auto;
}

#nav-bar {
    color: white;
    width: 100%;
}

ul {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
}

#tickets
{
    display: flex;
    justify-content: space-around;
    align-items: center;

}


form
{
    border: 3px solid black;
    padding: 20px;
    margin-left: 20px;
    text-align: center;
}
input
{
    width: 200px;

}